N8N_WEBHOOK_URL=https://n8n.srv1405965.hstgr.cloud/webhook/7aa1cb67-3a3b-429d-a768-84ec1dc89888
N8N_AUTH_TOKEN=your-secret-token-here
KV_REST_API_URL=
KV_REST_API_TOKEN=
ALLOWED_ORIGINS=https://dw-restorations-remodling.vercel.app
VITE_SITE_URL=https://dw-restorations-remodling.vercel.app
